.Cards{
    width: 10   0vw;
    height: auto;
    padding: 3vw;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.popular{
    text-align: center;
}

.popularContainer{
    display: flex;
    justify-content: center;
    gap: 6vh;
    margin: 10vh 0;
}