.Category{
    width: 10   0vw;
    height: auto;
    padding: 3vw;
    display: flex;
    gap: 40px;
    justify-content: center;
}
.card{
    width: 15vw;
    height: auto;
    padding: 10px 20px;
    text-align: left;
    border-radius: 10px;

}

.image{
    padding-left: 10vw;
}