.featuredContainer{
    width: 100vw;
    min-height: 40vh;
    height: auto;
    padding: 3vw;
    gap: 40px;
    text-align: center;
    
}


.cardsRow{
    display: flex;
    justify-content: center;
    gap: 5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

